{% extends 'epsilon/base.html' %}

{% block title_block %}
    list
{% endblock %}

{% block content_block %}
    {% if posts %}
        {% for post in posts %}
        <li>
            title: <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
            owner: {{ post.owner }}
        </li>
        {% endfor %}
        <br/>
        {% if posts.has_previous %} <a href="?page={{ posts.number|add:"-1" }}">上一页</a> {% endif %}
        第{{ posts.number }}页(共{{ posts.paginator.num_pages }}页)
        {% if posts.has_next %} <a href="?page={{ posts.number|add:"1" }}">下一页</a> {% endif %}
        <hr/>
    {% else %}
        什么都没有呀!
    {% endif %}
{% endblock %}
