{% extends './base.html' %}
{% load static %}
{% load filters %}

{% block title_block %}
    Detail
{% endblock %}

{% block content_block %}
<!-- Wrapper -->
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{ post.title }}</h2>
            <p>{{ post.desc }}</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "epsilon:index" %}"><b style="color: #157fde">Home</b></a></li>
                    <li class="breadcrumb-item"><a href="{% url "epsilon:category" post.category.id %}"><b style="color: #157fde">{{ post.category.name }}</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><b style="color: black">{{ post.title }}</b></li>
                </ol>
            </nav>
        </div>
    </header>

    <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                <!--
                <h3 class="major">Lorem ipsum dolor</h3>
                -->
                {% if post.content_html %}
                    {% autoescape off %}
                    <div>{{ post.content_html }}</div>
                    {% endautoescape %}
                {% else %}
                    <div>{{ post.content }}</div>
                {% endif %}
            </div>
        </div>
</section>
{% endblock %}

{% block comment_block %}
    {% include '../comment/block.html' %}
{% endblock %}

{% block head_block %}
    <link href="{% static "google-code-prettify/skins/desert.css" %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script src="{% static "google-code-prettify/prettify.js" %}"></script>
    <script>
    window.onload = function () {
        PR.prettyPrint();
    }
    </script>
{% endblock %}


